{% load staticfiles %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.colorbox.min.js" %}"></script>
<script>
    jQuery(function() {

        function isIframe() {
            return $(this).hasClass("iframe");
        }

        function getGallery() {
            return $(this).attr('data-gallery') || false;
        }

        function getConstraint() {
            return (isIframe.call(this))? "90%" : false;
        }

        jQuery('.colorbox').colorbox(
                {
                    iframe: isIframe,
                    rel: getGallery,
                    height: getConstraint,
                    width: getConstraint,
                    maxHeight: "90%",
                    maxWidth: "90%"
                }
        );
    });
</script>