{% extends "admin/change_form.html" %}
{% block extrahead %}
    {{ block.super }}
    {% include 'admin/colorbox_extrahead.html' %}
{% endblock %}
{% block footer %}
    {{ block.super }}
    {% include "admin/colorbox_footer.html" %}
    <script>
        jQuery('.url a')
                .addClass('colorbox')
                .attr({
                    'title': function() {
                        return jQuery("#id_title").val();
                    }
                });
    jQuery('.field-cite a, .field-view_link a').addClass('iframe');
    </script>
{% endblock %}